.card {
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 385.1162791px; */
    /* min-width: 385.1162791px; */

    max-width: 300px;
    min-width: 300px;
    margin: 1em auto;
    background-color: var(--primary-color);
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); */
    border: rgba(var(--secondary-color-rgb), 0.2) 1px dashed;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease;
    pointer-events: all;
    transition: box-shadow ease-in-out 0.3s, border ease-in-out 0.3s;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(var(--accent-color-rgb), 0.55);
    border: rgba(var(--accent-color-rgb), 0.5) 1px dashed; /* Ну либо убрать вообще */
    /* Либо */
    /* box-shadow: 0 10px 20px rgba(var(--text-color-rgb), 0.55); */
}

.editGame {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.editGame__icon {
    color: white;
}

.status__tag {
    position: absolute;
    right: -3px;
    top: 113px;
    color: red;
}

/* .status__tag__text {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 600;
} */

.source {
    position: absolute;
    left: 5px;
    top: 113px;
    color: white;
}

.image {
    position: relative;
    width: 100%;
    height: 140.2173913px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* прозрачный изначально */
    transition: background 0.3s ease;
}

.image:hover::after {
    background: rgba(0, 0, 0, 0.3); /* при наведении – серый */
    cursor: pointer;
}

.details {
    display: grid;
    grid-template-areas:
        "title"
        "genres"
        "divider"
        "rating__year"
        "status";
    grid-template-rows: 60px 50px 1px 40px 40px;
    gap: 8px;
    padding: 12px;
}

/* .header {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.title {
    grid-area: title;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--text-color);
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.genres {
    grid-area: genres;
    font-size: 0.8rem;
    color: var(--text-color);
    letter-spacing: 1px;
}

.divider {
    grid-area: divider;
    height: 4px;
    margin: 0;
}

.rating__year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: rating__year;
}

/* Добавляем эти стили */
.rating__container {
    min-width: 50%; /* Занимает половину пространства */
    display: flex;
    justify-content: flex-start; /* Выравнивание по левому краю */
}

.year {
    color: var(--third-color);
    font-size: 0.9rem;
    margin-left: auto; /* Прижимаем год к правому краю */
}

.rating {
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    font-weight: 500;
    color: var(--text-color);
}

.rating__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.rating__rate {
    font-size: 1rem;
    margin: auto 0;
}

.rating__update__hidden,
.rating__update {
    cursor: pointer;
    color: var(--text-color);
    margin-left: 5px;
    background-color: var(--bg-color);
    border: rgba(var(--secondary-color-rgb), 1) 1px solid;
}

.rating__update__hidden {
    display: none;
}

.rating__update {
    display: block;
}

.rating__update.hidden {
    display: none;
}

.rating__update:hover {
    /* text-decoration: underline; */
    /* box-shadow: 0 0 4px 1px var(--secondary-color); */
    background-color: var(--secondary-color);
    color: var(--text-reverse-color);
}

.status {
    cursor: pointer;
    grid-area: status;
    justify-self: center;
    padding: 6px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 0.8rem;
    background: var(--primary-color);
    height: 20px;
    color: var(--text-color);
    letter-spacing: 1px;
    height: 30px;
}
