.cardsWrapper {
    display: flex;
    max-width: 1500px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    pointer-events: none;
    margin: 0 auto;
    /* padding: 20px; */
}
