.header {
    position: fixed;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__group {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 25px;
    cursor: pointer;
}

.title {
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    color: var(--header-text-color);
}

.iconButton {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon {
    width: var(--header-font-size);
    height: var(--header-font-size);
    color: var(--header-text-color);
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    background-color: var(--header-dropdown-bg-color);
    border: 1px solid var(--header-dropdown-border-color);
    color: var(--header-dropdown-text-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px 0;
    z-index: 1001;
    min-width: 200px;
    list-style: none;
    margin: 0;
}

.dropdownItem {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;

    background-color: var(--header-dropdown-bg-color);
    color: var(--header-dropdown-text-color);
    border-color: var(--header-dropdown-border-color);
    transition: background-color 0.2s ease;
}

.dropdownItem:hover {
    background-color: var(--header-dropdown-hover-bg-color);
    color: var(--header-dropdown-hover-text-color);
    border-color: var(--header-dropdown-hover-border-color);
}

.dropdownItemActive {
    font-weight: bold;
}

.dropdownItemDanger {
    color: #ff4d4f;
}

.badge {
    margin-left: auto;
    width: 8px;
    height: 8px;
    background-color: #52c41a;
    border-radius: 50%;
}

.dropdownItemIcon {
    width: 20px;
    height: 20px;
}

/* Drawer */
.drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease;
}

.drawerOverlayClosing {
    background-color: rgba(0, 0, 0, 0);
}

.drawer {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    z-index: 1003;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
    padding: 0;
}

.drawer-open {
    animation: drawerOpen 0.2s ease forwards;
}

@keyframes drawerOpen {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}

.drawer-closing {
    animation: drawerClose 0.2s ease forwards;
}

@keyframes drawerClose {
    0% {
        left: 0;
    }
    100% {
        left: -300px;
    }
}

.drawerHeader {
    padding: 16px;
    border-bottom: 1px solid var(--sidebar-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawerTitle {
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-font-weight);
    color: var(--sidebar-text-color);
}

.drawerBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.drawerFooter {
    border-top: 1px solid var(--sidebar-border-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.drawerList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
}

.drawerListItem {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    margin: 5px 0px;
    background: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--sidebar-button-bg-color);
    color: var(--sidebar-button-text-color);
    border-color: var(--sidebar-button-border-color);
    transition: background-color 0.2s ease;
}

.drawerListItem:hover {
    background-color: var(--sidebar-button-hover-bg-color);
    color: var(--sidebar-button-hover-text-color);
    border-color: var(--sidebar-button-hover-border-color);
}

.drawerListItemActive {
    background-color: var(--sidebar-button-active-bg-color) !important;
    color: var(--sidebar-button-active-text-color);
    border-color: var(--sidebar-button-active-border-color);
    font-weight: bold;
}

.drawerListItemIcon {
    width: 24px;
    height: 24px;
}

.drawerFooterItem {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    margin: 5px 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--sidebar-button-text-color);
    background-color: var(--sidebar-button-bg-color);
    border-color: var(--sidebar-button-border-color);
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

.drawerFooterItem:hover {
    background-color: var(--sidebar-button-hover-bg-color);
    color: var(--sidebar-button-hover-text-color);
    border-color: var(--sidebar-button-hover-border-color);
}

.drawerFooterItemDanger {
    color: #ff4d4f;
}
