.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--header-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__inner {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.settings {
    display: flex;
    justify-content: flex-end;

    gap: 10px;
}

.logo {
    padding: 8px;
    margin: auto 0;
    font-size: 1rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding-top: 13px;
    margin: 0 auto;
}

.buttonGovno:hover {
    background-color: var(--header-secondary-color) !important;
}

.buttonGovno:active {
    background-color: var(--header-secondary-color) !important;
}

/* .active {
    color: var(--accent-color) !important;
    font-weight: 600;
    border-bottom: 2px solid var(--accent-color);
} */

/* .games__page__btn {
    width: 150px;
    padding: 8px;
    margin: 0 auto;
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.games__page__btn:hover {
    background-color: rgba(var(--accent-color-rgb), 0.1);
} */
