.cards-wrapper {
    flex-wrap: wrap;
    gap: 30px;
}

.divider {
    border-color: var(--gray-dark-color);
}

.sort-button {
    height: 34px;
    padding: 8px 16px;
    border: 1px solid var(--main-button-border-color);
    border-radius: 4px;
    background: var(--main-button-bg-color);
    cursor: pointer;
    font-size: 14px;
    transform-origin: center center;
    transition: transform 0.1s ease, border-color 0.2s ease;
    color: var(--main-button-text-color);
}

.sort-button:hover {
    border-color: var(--main-button-hover-border-color);
    background: var(--main-bg-color);
}

.sort-button:active {
    border-color: var(--main-button-active-border-color);
    background: var(--main-bg-color);
    color: var(--main-button-text-color);
    transform: scale(0.95);
}

.top-panel {
    z-index: 1;
}
.top-panel__right {
    margin-left: auto;
}

.status-buttons__arrow {
    display: none;
}

@media screen and (max-width: 1140px) {
    .top-panel {
        flex-direction: column-reverse;
    }
    .top-panel__right {
        margin-left: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 960px) {
    .cards-wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 660px) {
    .cards-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    /* .status-buttons {
        padding-inline: 20px;
    } */
}

@media screen and (max-width: 560px) {
    .status-buttons__arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color)
    }
}
