/* КВАДРАТИК С ЦИФОРКОЙ ПРОСТО ТАК */
.styled-pagination .ant-pagination-item {
    border: 1px solid transparent;
    background-color: var(--bg-color);
    transition: all 0.2s ease-in-out !important;
}

.styled-pagination .ant-pagination-item a {
    color: var(--text-color) !important;
}

/* КОГДА НА КВАДРАТИК НАВЕЛСЯ */
.styled-pagination .ant-pagination-item:hover {
    border-color: var(--third-color) !important;
    background-color: var(--bg-color) !important;
}

/* АКТИВНЫЙ КВАДРАТИК */
.styled-pagination .ant-pagination-item-active {
    background-color: var(--accent-color);
}

/* А ЭТО ЦВЕТ ТЕКСТА АКТИВНОГО КВАДРАТИКА */
.styled-pagination .ant-pagination-item-active a {
    color: var(--text-reverse-color) !important;
    transition: color 0.2s ease-in-out !important;
}

/* КОГДА НА АКТИВНЫЙ КВАДРАТИК НАВЕЛСЯ */
.styled-pagination .ant-pagination-item-active a:hover {
    color: var(--text-color) !important;
}

/* ============================================================= */

/* ПОЛЕ БЫСТРОГО ПЕРЕХОДА */

.ant-pagination-options-quick-jumper {
    color: var(--text-color);
}
.ant-pagination-options-quick-jumper input:hover {
    border-color: var(--secondary-color) !important;
}

.ant-pagination-options-quick-jumper input:focus {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

/* ============================================================= */

.ant-dropdown-menu-item-active {
    color: var(--text-reverse-color) !important;
}

.ant-dropdown-menu-item-active span {
    color: var(--text-reverse-color) !important;
}

.ant-select-item-option {
    margin-top: 2px !important;
}

.ant-select-item-option-active {
    color: var(--text-reverse-color) !important;
}

.ant-select-item-option-content {
    color: black !important;
}

/* ============================================================= */

.ant-input-affix-wrapper .ant-input::placeholder {
    color: black;
}

.ant-select {
    height: auto;
}

/* Тут оставил для ConfigProvider у DropDown */
/* colorBgElevated: "#1a1a1a", // Фон меню
colorText: "#fff", // Цвет текста
controlItemBgHover: "#333", // Фон при наведении
controlItemBgActive: "#444", // Фон активного элемента
borderRadiusLG: 8, // Скругление углов
paddingXS: 12, // Отступы внутри меню */

.ant-drawer-content {
    background-color: var(--header-background-color) !important;
    color: var(--header-text-color) !important;
}

.ant-drawer-close {
    color: var(--header-text-color) !important;
}

.ant-menu {
    background-color: var(--header-background-color) !important;
    color: var(--header-text-color) !important;
}

.ant-menu-item {
    color: var(--header-text-color) !important;
}

.ant-menu-item:hover {
    background-color: var(--header-secondary-color) !important;
    color: var(--header-text-color) !important;
}

:where(.css-dev-only-do-not-override-1d63w90).ant-menu-light .ant-menu-item-selected {
    background-color: var(--header-secondary-color) !important;
    color: var(--header-text-color) !important;
}

:where(.css-dev-only-do-not-override-1d63w90).ant-btn-variant-text:hover {
    background-color: purple;
}

.add-game-button:active {
    border-color: var(--main-secondary-color) !important;
}

:where(.css-dev-only-do-not-override-9lz6di).ant-dropdown .ant-dropdown-menu {
    background-color: var(--main-background-color) !important;
    border-color: var(--main-third-color) !important;
}

:where(.css-dev-only-do-not-override-9lz6di).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    color: var(--text-color);
}

:where(.css-dev-only-do-not-override-9lz6di).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: var(--main-secondary-color) !important;
    color: var(--text-color) !important;
}

:where(.css-dev-only-do-not-override-9lz6di).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:active {
    background-color: var(--accent-color) !important;
    color: var(--text-color) !important;
}

:where(.css-dev-only-do-not-override-9lz6di).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-9lz6di).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):active {
    border-color: var(--main-secondary-color) !important;
    color: var(--text-color) !important;
}
